<h1>iGhetto Notebook</h1>
<h3> Press "Shift + Enter" to run the cell. </h3>
<!--
<button id="myButton">Button</button>
<div id="counter">1</div> _-->


<!--<div id="textfield">console.log("hello, world");</div>-->


<div style="border-style: solid; border-color: #888888">
<textarea id="programfield"
	rows="20"
	cols="80"
	value="console.log(">
</textarea> 

<pre id="programresult"> </pre>
</div>